
@using Domain.Dto
@using EventsMap.Views.HelperModels
@model EventsMap.Views.ViewModel.EventResultsSearch

<script>
    function OnSuccess() {
        //mapEvent.initNewMap();
        //mapEvent.createMarkers('@Html.Raw(ViewBag.Json)');
        mapEvent.createMarkers(@Html.Raw(ViewBag.Json));
    }
</script>

<div id="allEvs">
    @foreach (EventDto eventDto in Model.Results) {

        <div id="result-main">
            <h2>
                <a> @eventDto.EventName </a>
            </h2>
            <div>
                <div>
                    <div>
                        <span>@eventDto.EventDate </span>
                    </div>
                    <div>
                        <span><a href="http://worcsapprenticeships.org.uk/venue/nunnery-wood-high-school/">Nunnery Wood High School</a></span>,
                        <address>
                            <span>
                                <span class="address1">@eventDto.Address</span>
                                <br>
                                <span class="postal-code">@eventDto.Postcode</span>
                            </span>
                        </address>@*<a class="tribe-events-gmap" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Spetchley+Road+Worcester+WR5+2LT+United+Kingdom" title="Click to view a Google Map" target="_blank">+ Google Map</a>*@
                    </div>
                </div>
            </div>

            <div class="event-description">
                <p>@eventDto.EventDescription</p>
                <a href="http://worcsapprenticeships.org.uk/event/careers-event-nunnery-wood-high-school/" class="tribe-events-read-more" rel="bookmark">Find out more »</a>
            </div><!-- .tribe-events-list-event-description -->
        </div>
    }
</div>


@using (Ajax.BeginForm("GetResultsBasedOnSearch", new AjaxOptions() { UpdateTargetId = "allEvs" })) {
    @Html.HiddenFor(o => o.SearchCriteria.PagingInformation.CurrentPage)
    @Html.HiddenFor(o => o.SearchCriteria.PagingInformation.LoadAll)
    @Html.HiddenFor(o => o.SearchCriteria.PagingInformation.ItemsPerPage)
    @Html.HiddenFor(o => o.SearchCriteria.PagingInformation.TotalItems)

    @Html.HiddenFor(o => o.SearchCriteria.Region)
    @Html.HiddenFor(o => o.SearchCriteria.BeginningRange)
    @Html.HiddenFor(o => o.SearchCriteria.DateOfEvent)
    @Html.HiddenFor(o => o.SearchCriteria.EndingRange)
    @Html.HiddenFor(o => o.SearchCriteria.Keyword)
    @Html.HiddenFor(o => o.SearchCriteria.MainAudience)
    @Html.HiddenFor(o => o.SearchCriteria.PostCode)
    @Html.HiddenFor(o => o.SearchCriteria.SearchWithinRadius)
    @Html.HiddenFor(o => o.SearchCriteria.Type)

    @Html.PageLinks(Model.SearchCriteria.PagingInformation)
}

@*<p>@ViewBag.Json</p>*@
